.container{
    
    margin-top: 1vh;
    position: relative;
    text-align: center;
    color: white;
}
.img{
   
     width: 100%;
     max-width: 100%;
     height: auto;
    height: '100%';
   margin-bottom: 10px;
}
.h1
{
    font-size: 2vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered {
    font-weight: bold;
    font-size: 7vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  